<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<meta name="keywords" content="<%META_KEYWORDS%>"/>
	<meta name="description" property="og:description" content="<%META_DESCRIPTION%>"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/site.webmanifest">
	<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="images/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="<%PAGE_TITLE%>"/>
	<meta property="og:image" content="<%META_IMAGE%>"/>
	<title><%PAGE_TITLE%></title>
	<%META_VERIFICATION%>
    <link type="text/css" rel="stylesheet" href="assets/css/style.css<%VERSION%>"/>
	<%ANALYTICS%>
</head>

<body>
	<%YANDEX_METRIKA%>

	<div id="layout">
		<header>
			<div class="holder wide">
				<a href="<%SITE_URL%>" id="logo"><img src="images/logo.svg" alt="Proudly" title="Proudly"></a>

				<%MN_MAIN%>

				<%BL_CITY%>

				<a href="mailto:<%EMAIL%>" class="email"><%EMAIL%></a>
				<a href="tel:<%TELLINK%>" class="phone"><%TEL%></a>

				<button class="btn" data-modal="modal-feedback">Рассказать о задаче</button>
			</div>
		</header>

		<section id="direction">
			<div class="holder">
				<h1 class="animated fadeInRight">Разрабатываем сайты, <br/>полезные бизнесу</h1>
				<div class="text animated fadeInRight delay-01s">
					<p>Хотите узнать стоимость и получить консультацию? <a href="#" data-modal="modal-feedback">Да,&nbsp;хочу</a></p>
				</div>
			</div>
		</section>

		<%BL_BANNER%>

		<section id="portfolio">
			<ul>
				<li style="background: rgb(6,29,129);background: linear-gradient(90deg, rgba(6,29,129,1) 0%, rgba(6,55,139,1) 50%, rgba(6,62,157,1) 100%);">
					<div class="inner">
						<div class="title">FEBO TELECOM</div>
						<p>Сайт провайдера телекоммуникационных услуг, специализирующегося на виртуальных номерах, международной связи и мобильном интернете</p>
						<a href="https://febotele.com" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: linear-gradient(110.71deg, #F7391F 0.64%, #FF5A35 88.89%);">
					<div class="inner">
						<div class="title">Enso Realty</div>
						<p>Дизайн сайта для компании, занимающейся элитной загородной недвижимостью</p>
						<a href="https://ensorealty.ru" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: rgb(39,161,254); background: linear-gradient(90deg, rgba(39,161,254,1) 0%, rgba(27,155,252,1) 50%, rgba(15,149,250,1) 100%);">
					<div class="inner">
						<div class="title">DOTT Telecom</div>
						<p>Сайт поставщика телекоммуникационных услуг, связывающего бизнес операторов по всему миру</p>
						<a href="https://dott.ee" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: rgb(246,95,157);background: linear-gradient(90deg, rgba(246,95,157,1) 0%, rgba(231,66,134,1) 50%, rgba(191,40,102,1) 100%);">
					<div class="inner">
						<div class="title">Febo.mobi</div>
						<p>Одностраничный промо-сайт для кэшбэк-сервиса, где наглядно показали, как быстро и несложно им можно воспользоваться</p>
						<a href="https://promo.febo.mobi/" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: #023869;">
					<div class="inner">
						<div class="title">СМАРТЭНЕРГО</div>
						<p>Сайт для компании, специализирующейся на создании и реализации «под ключ» комплексных решений на базе интеллектуальных систем учета электроэнергии</p>
						<a href="https://smartenergo-rt.ru/" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: linear-gradient(180deg, #1D93C9 0%, #35ACE2 100%)">
					<div class="inner">
						<div class="title">Байкал Климат</div>
						<p>Сайт климатической компании, которая проектирует и устанавливает вентиляцию для крупных сооружений</p>
						<a href="http://baikalklimat.ru" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: #3477DC;">
					<div class="inner">
						<div class="title">ПСК</div>
						<p>Сайт для компании, которая производит комплексные поставки оборудования и материалов для сферы энергетики</p>
						<a href="https://psk-si.ru" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: linear-gradient(180deg, #F7A300 24.71%, #FFC556 95.75%)">
					<div class="inner">
						<div class="title">DIO Logistics</div>
						<p>Сайт для транспортной компании, досавляющей грузы крупнейшим ритейлерам РФ</p>
						<a href="https://diologistic.ru" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
				<li style="background: rgb(33,126,241);background: linear-gradient(130deg, rgba(33,126,241,1) 0%, rgba(15,98,202,1) 50%, rgba(10,83,175,1) 100%);">
					<div class="inner">
						<div class="title">РОСТ</div>
						<p>Сайт консалтинговой группы, которая с 2010 года оказывает услуги в сфере вступления в СРО, получении лицензий и сертификатов ISO, регистрации и законной ликвидации бизнеса</p>
						<a href="https://сророст.рф/" target="_blank"><button class="btn">Перейти на сайт</button></a>
					</div>
				</li>
			</ul>
		</section>

		<section id="services">
			<div class="holder">
				<h2>Наши услуги</h2>
				<div class="text">
					<p>Наша основная экспертиза — разработка сайта под ключ. <br>Однако, любую услугу из цикла разработки проекта мы можем предоставить отдельно. </p>
				</div>

				<ul>
					<li>
						<h3>Сайт под ключ</h3>
						<div class="exp">Дизайн/адаптивная верстка/программирование/тестирование/запуск</div>
						<div class="toggler"></div>
						<div class="desc">
							<p>Мы знаем, каким сложным может быть процесс разработки сайта. Чтобы все прошло гладко, нужно учесть массу нюансов: правильно обозначить задачи, поставить цели, наладить коммуникацию, спрогнозировать сроки, выбрать модель ведения проекта, наконец &#151; запустить и протестировать сайт. Все это мы прошли не один раз, поэтому не учимся на деньги наших клиентов.</p>
							<div class="btn-line">
								<button class="btn" data-modal="modal-question">Задать вопрос</button>
							</div>
						</div>
					</li>
					<li>
						<h3>UX/UI-DESIGN</h3>
						<div class="exp">Прототипирование/дизайн/анимация</div>
						<div class="toggler"></div>
						<div class="desc">
							<p>Удобный сайт &#151; это прежде всего хорошо спроектированный интерфейс. Когда продуманы пользовательские маршруты, проведены исследования рынка, конкурентов и найдены best practices в сфере бизнеса клиента.  А хороший визуальный стиль делает использование такого интерфейса приятным.</p>
							<div class="btn-line">
								<button class="btn" data-modal="modal-question">Задать вопрос</button>
							</div>
						</div>
					</li>
					<li>
						<h3>Frontend</h3>
						<div class="exp">Адаптивная верстка/javascript/фреймворки</div>
						<div class="toggler"></div>
						<div class="desc">
							<p>Знаем, что дизайн не всегда может получиться таким, каким он был задуман. Поэтому, научились контролировать процесс верстки макетов, а также оптимизировать нагрузку на стороне клиента. В нашем арсенале React, Vue, разработка и поддержка REST API интерфейсов XML/JSON, работа с Jquery, Bootstrap, LESS, SASS, BEM. Полностью адаптивная современная верстка на HTML5 и CSS3, работающая на всех браузерах и устройствах.</p>
							<div class="btn-line">
								<button class="btn" data-modal="modal-question">Задать вопрос</button>
							</div>
						</div>
					</li>
					<li>
						<h3>Backend</h3>
						<div class="exp">PHP/CRM/CMS/API</div>
						<div class="toggler"></div>
						<div class="desc">
							<p>Выстраиваем серверную бизнес-логику веб-проектов, реализуем архитектурные решения для интеграции клиентских систем, разработка REST API. Работаем с PHP5/7, SQL, Laravel, Symfony. Crm и cms: Wordpress, 1C-Bitrix, Opencart и другие.</p>
							<div class="btn-line">
								<button class="btn" data-modal="modal-question">Задать вопрос</button>
							</div>
						</div>
					</li>
					<li>
						<h3>Графический дизайн</h3>
						<div class="exp">Логотипы/презентации/полиграфия</div>
						<div class="toggler"></div>
						<div class="desc">
							<p>Мы умеем разрабатывать не только цифровые продукты, но и физические носители. Например, мы можем разработать эффектную полиграфию для выступления на конференциях, визитки, которые не хочется выпускать из рук, или обновить весь фирменный стиль компании.</p>
							<div class="btn-line">
								<button class="btn" data-modal="modal-question">Задать вопрос</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>

		<section class="lightgray" id="about">
			<div class="holder">
				<h2>О нас</h2>
				<div class="text">
					<p>Мы разрабатываем сайты, которые несут пользу для бизнеса клиента. Собираем и анализируем требования, проектируем функции, разрабатываем дизайн-макеты и запускаем. Затем сопровождаем проект столько, сколько потребует заказчик.</p>
				</div>

				<ul>
					<li>
						<h3>5</h3>
						<p>Лет упорной работы</p>
					</li><!--
					--><li>
						<h3>47</h3>
						<p>Запущенных проектов</p>
					</li><!--
					--><li>
						<h3>9</h3>
						<p>Специалистов в команде</p>
					</li>
				</ul>
			</div>
		</section>

		<section class="darkgray" id="feedback">
			<div class="holder">
				<h2>Давайте начнем новый проект вместе!</h2>

				<form action="/ajax-act-Feedback/" method="post">
					<div class="form">
						<div class="col-half">
							<div class="fld-holder">
								<input type="text" name="name" placeholder="Имя" maxlength="255" required>
								<i>Имя</i>
							</div>
						</div><!--
						--><div class="col-half">
							<div class="fld-holder">
								<input type="tel" name="tel" placeholder="Телефон" required>
								<i>Телефон</i>
							</div>
						</div>
						<div class="fld-holder">
							<input type="text" name="text" placeholder="Коротко опишите задачу">
							<i>Коротко опишите задачу</i>
						</div>

						<div class="agree"><input type="checkbox" name="agree" checked id="agree-feedback" required><label for="agree-feedback">Я согласен на обработку своих персональных данных</label></div>

						<div class="btn-line">
							<button class="btn type3" name="submit_btn">Отправить</button>
							<input type="hidden" name="code" value="feedback"/>
						</div>
					</div>
				</form>
			</div>
		</section>

		<footer id="footer">
			<div class="holder">
				<a href="tel:<%TELLINK%>" class="phone"><%TEL%></a>
				<a href="mailto:<%EMAIL%>" class="email"><%EMAIL%></a>
				<address><%ADDRESS%></address>
			</div>
		</footer>
	</div>

	<div class="modal-fadeout"></div>

	<div class="modal-wrapper" id="modal-feedback">
		<div class="modal">
			<div class="contents">
				<div class="modal-close" title="Закрыть"></div>

				<div class="h1">Расскажите о задаче</div>

				<form action="/ajax-act-Feedback/" method="post">
					<div class="form">
						<div class="fld-holder">
							<input type="text" name="name" placeholder="Имя" maxlength="255" required>
							<i>Имя</i>
						</div>
						<div class="fld-holder">
							<input type="tel" name="tel" placeholder="Телефон" maxlength="255" required>
							<i>Телефон</i>
						</div>
						<div class="fld-holder">
							<input type="text" name="text" placeholder="Задача" maxlength="255">
							<i>Задача</i>
						</div>

						<div class="agree"><input type="checkbox" name="agree" checked id="agree-feedback-modal" required><label for="agree-feedback-modal">Я согласен на обработку своих данных</label></div>

						<div class="btn-line">
							<button class="btn type2" name="submit_btn">Отправить</button>
							<input type="hidden" name="code" value="task"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal-wrapper" id="modal-question">
		<div class="modal">
			<div class="contents">
				<div class="modal-close" title="Закрыть"></div>

				<div class="h1">Задайте вопрос</div>

				<form action="/ajax-act-Feedback/" method="post">
					<div class="form">
						<div class="fld-holder">
							<input type="text" name="name" placeholder="Имя" maxlength="255" required>
							<i>Имя</i>
						</div>
						<div class="fld-holder">
							<input type="tel" name="tel" placeholder="Телефон" maxlength="255" required>
							<i>Телефон</i>
						</div>
						<div class="fld-holder">
							<input type="text" name="text" placeholder="Вопрос" maxlength="255">
							<i>Вопрос</i>
						</div>

						<div class="agree"><input type="checkbox" name="agree" checked id="agree-question-modal" required><label for="agree-question-modal">Я согласен на обработку своих данных</label></div>

						<div class="btn-line">
							<button class="btn type2" name="submit_btn">Отправить</button>
							<input type="hidden" name="code" value="question"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal-wrapper" id="modal-request">
		<div class="modal">
			<div class="contents">
				<div class="modal-close" title="Закрыть"></div>

				<div class="h1">Мы перезвоним!</div>

				<form action="/ajax-act-Feedback/" method="post">
					<div class="form">
						<div class="fld-holder">
							<input type="text" name="name" placeholder="Имя" maxlength="255" required>
							<i>Имя</i>
						</div>
						<div class="fld-holder">
							<input type="tel" name="tel" placeholder="Телефон" maxlength="255" required>
							<i>Телефон</i>
						</div>

						<div class="agree"><input type="checkbox" name="agree" checked id="agree-request-modal" required><label for="agree-request-modal">Я согласен на обработку своих данных</label></div>

						<div class="btn-line">
							<button class="btn type2" name="submit_btn">Отправить</button>
							<input type="hidden" name="code" value="request"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal-wrapper" id="modal-done">
		<div class="modal">
			<div class="contents">
				<div class="modal-close" title="Закрыть"></div>

				<div class="h1">Спасибо!</div>

				<div class="text">
					<p>Мы уже получили заявку и скоро вам ответим.</p>
				</div>

				<div class="btn-line">
					<button class="btn type2 js-close">Отлично</button>
				</div>
			</div>
		</div>
	</div>

	<%CONSULTANT%>

	<script src="assets/js/scripts.js<%VERSION%>"></script>
</body>
</html>