<section id="bl-banner">
	<div class="holder">
		<div class="wrap">
			<h2><strong class="animated fadeInRight">Сайт за 4 дня</strong> <span class="arr animated fadeInRight delay-01s"></span> <span class="price animated fadeInRight delay-02s">49 900₽</span></h2>
			<div class="text animated fadeInRight delay-03s">
				<p>Вы получите продающий одностраничный сайт на&nbsp;Tilda, приводящий клиентов, от&nbsp;вас потребуется лишь описание задачи в&nbsp;свободной форме. <br>Как мы это делаем: </p>
			</div>
			<ol>
				<li class="animated fadeInUp">Прототип</li>
				<li class="animated fadeInUp delay-02s">Дизайн и анимации</li>
				<li class="animated fadeInUp delay-04s">Сборка на платформе Tilda</li>
				<li class="animated fadeInUp delay-06s">Подключение домена</li>
			</ol>
			<div class="btn-line">
				<button class="animated fadeInUp" data-modal="modal-request">Мне интересно</button>
				<a href="https://it-daf.ru" target="_blank" class="link animated fadeInUp delay-02s">Cмотреть пример</a>
			</div>
		</div>
		<div class="bg"></div>
	</div>
</section>