<section id="bl-calculator-banner" data-autotime-sec="<%AUTOTIME%>">
				<div class="holder">
					<ul class="slides">
						<%SLIDES%>					
					</ul>
					
					<form action="/osago" method="post">
						<select name="brand_id" id="select-calc-brand" data-placeholder="Марка авто">
							<%BRANDS%>					
						</select>
						<select name="model_id" id="select-calc-model" data-placeholder="Модель">
						</select>
						<div class="hint" id="hint-model">Сначала выберите марку</div>					
						<input type="submit" value="Рассчитать" name="subm_btn" class="submit"/>
					</form>
				</div>
			</section>