<div class="content" id="bl-last-reviews">			
				<h2>Последние отзывы </h2>
					
				<ul>
					<li>
						<div class="info positive">Алена о «Согаз» <span class="date">5 сентября</span></div>
						<p>На этой неделе сложилась удивительная и неприятная ситуация. Заканчивается срок действия ОСАГО и КАСКО на мой автомобиль. В СК «МАКС» я страхую свои автомобили по ОСАГО и КАСКО непрерывно 16 лет. Срок немаленький...</p>
						<span class="dotted">Развернуть</span>
						<div class="stats">
							<span class="comments">Комментарии (5)</span>
							<span class="reply">Ответить</span>
						</div>
					</li>
					<li>
						<div class="info negative">Дмитрий о «Ренессанс Страхование» <span class="date">2 сентября</span></div>
						<p>28.06.2016 года в филиале ООО «Проминстрах» (г. Калининград) я приобрела полис страхования граждан, выезжающих за рубеж. При оформлении полиса сотрудник филиала уточнил и записал номер моего сотового телефона. </p>
						<span class="dotted">Развернуть</span>
						<div class="stats">
							<span class="reply">Ответить</span>
						</div>
					</li>
					<li>
						<div class="info positive">Максим о «Альфа Страхование» <span class="date">1 сентября</span></div>
						<p>К моему великому сожалению, мне дважды пришлось столкнуться с угоном ТС. Первый раз это случилось в 2013 году с незастрахованной машиной; а затем в 2015 году, но уже с полисом «Интач». К счастью, страховые выплаты я получила почти...</p>
						<span class="dotted">Развернуть</span>
						<div class="stats">
							<span class="comments">Комментарии (5)</span>
							<span class="reply">Ответить</span>
						</div>
					</li>
				</ul>
				<div class="all-link"><a href="#">Все отзывы</a></div>			
			</div>