<div id="calc"<%ATTRIBS%>>

	<%TEXT%>

	<div class="content">		
		<ul id="calc-steps">
		
			<li class="step1">
				<h2>1. Выберите марку</h2>
				
				<div class="wrap">
					<span class="dashed">Показать полный список</span>
					<ol>
						<%BRANDS%>
					</ol>
				</div>
			</li>
			
			<li class="step2">
				<h2>2. Год выпуска</h2>
			
				<ul class="history"></ul>
			
				<div class="wrap">
					<ol>
						<%YEARS%>									
					</ol>
				</div>
			</li>
			
			<li class="step3">
				<h2>3. Модель</h2>
			
				<ul class="history"></ul>
			
				<div class="wrap">
					<ol>
						<%MODELS%>									
					</ol>
				</div>
			</li>
			
			<li class="step4">
				<h2>4. Модификация</h2>
			
				<ul class="history"></ul>
			
				<div class="wrap">
					<ol>									
					</ol>
				</div>
			</li>
			
			<li class="step5">
				<h2>5. Мощность</h2>
			
				<ul class="history"></ul>
			
				<div class="wrap">
					<ol>									
					</ol>
				</div>
			</li>
			
			<li class="step6">
				<h2>6. Пробег</h2>
			
				<ul class="history"></ul>
			
				<div class="wrap">
					<ol>									
					</ol>
				</div>
			</li>
			
			<li class="step7">
				<h2>7. Заполните данные</h2>
	
				<div class="wrap">
					<form action="/osago-act-Calculate/" method="post">
					
						<fieldset>
							<legend>Описание автомобиля</legend>
							
							<div class="fld">
								<label>Оформляю ОСАГО впервые</label>
								<input class="switcher" type="checkbox" name="first_osago" id="first-osago"/>
							</div>
							<div class="fld">
								<label>У меня есть диагностическая карта</label>
								<input class="switcher" type="checkbox" name="diagnostic_card" checked="checked"/>
							</div>
							<div class="fld">
								<label>На какой срок нужен полис ОСАГО?</label>
								<select name="period">
									<option value="3">3 месяца</option>
									<option value="4">4 месяца</option>
									<option value="5">5 месяцев</option>
									<option value="6">6 месяцев</option>
									<option value="7">7 месяцев</option>
									<option value="8">8 месяцев</option>
									<option value="9">9 месяцев</option>
									<option value="12" selected="selected">12 месяцев</option>
								</select>
							</div>
							<div class="fld" id="wow">
								<label>Начало действия полиса ОСАГО</label>
								<input type="date" name="date" value="<%DATE%>" data-default-date="<%DATE%>"/>
							</div>
						</fieldset>
						
						<fieldset>
							<legend>Информация о водителях и параметры страховки</legend>
							
							<div class="fld">
								<label>Регион проживания</label>
								<input type="hidden" name="city_id" value="<%CITYID%>"/>
								<span class="dotted" id="calc-region"><%CITYNAME%></span>
							</div>
							<div class="fld">
								<label>Регион регистрации собственника</label>
								<div class="section">									
									<input type="checkbox" name="same_registration_region" id="cb-same-registration-region" checked="checked"/><label for="cb-same-registration-region">совпадает с регионом проживания</label>
									<span class="clear-l"></span>
									<input type="hidden" name="owner_city_id" value="<%CITYID%>"/>
									<span class="dotted" id="calc-owner-region"><%CITYNAME%></span>
								</div>
							</div>
							<div class="fld">
								<label>Количество водителей</label>
								<input class="switcher" type="checkbox" name="drivers_limit" id="drivers-limit" checked="checked" data-label-yes="Ограниченное" data-label-no="Без ограничений"/>
							</div>
							<div class="fld" id="kbm-discount">
								<label>Расчет скидки за безаварийную езду</label>
								<div class="section">
									<input type="radio" name="kbm" value="1" id="kbm-now" data-mode="full"/><label for="kbm-now">Сейчас</label>
									<input type="radio" name="kbm" value="0" id="kbm-later" data-mode="short" checked="checked"/><label for="kbm-later">Позже (при оформлении)</label>
									<p class="annotation">Некоторым страховщикам для расчета обязательно требуются полные данные по водителям. Без заполнения этих данных расчет по таким компаниям не будет осуществлен. Заполнение полей также позволит получить точный расчет стоимости с учетом скидки за безаварийную езду.</p>
								</div>
							</div>
						</fieldset>
						
						<fieldset id="driver-info">
							<legend>Первый водитель</legend>
							
							<input type="hidden" name="driver[]" value="1"/>
							<div class="driver-info-short">
								<div class="fld">
									<label>Водитель</label>
									<input class="switcher" type="checkbox" name="driver_age[]" data-label-yes="До 22 лет включительно" data-label-no="Старше 22 лет"/>
								</div>
								<div class="fld">
									<label>Стаж вождения</label>
									<input class="switcher" type="checkbox" name="driver_experience[]" data-label-yes="&nbsp;До 3 лет включительно&nbsp;" data-label-no="От 3 лет"/>
								</div>
							</div>
							<div class="driver-info-full">
								<div class="fld">
									<label>Имя</label>
									<input type="text" name="name[]" value="" maxlength="255"/>
								</div>
								<div class="fld">
									<label>Отчество</label>
									<input type="text" name="patronymic[]" value="" maxlength="255"/>
								</div>
								<div class="fld">
									<label>Фамилия</label>
									<input type="text" name="surname[]" value="" maxlength="255"/>
								</div>								
								<div class="fld">
									<label>Дата рождения</label>
									<input type="date" name="date_birth[]" value="" placeholder="дд.мм.гггг" data-min-year="1920" data-max-year="2006"/>
								</div>
								<div class="fld">
									<label>Водительское удостоверение</label>
									<input type="text" name="license_series[]" value="" placeholder="серия" maxlength="4" class="series"/><input type="text" name="license_number[]" value="" placeholder="номер" maxlength="6" class="number"/>
								</div>
								<div class="fld">
									<label>Дата выдачи первых прав</label>
									<input type="date" name="date_first_license[]" value="" placeholder="дд.мм.гггг"/>
								</div>
							</div>
						</fieldset>
						<div id="add-driver">Добавить водителя</div>
						
						<div id="agreement"><input type="checkbox" id="cb-agreement" name="agreement" checked="checked"/><label for="cb-agreement">Подтверждаю свое согласие с условиями передачи данных</label></div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="РАССЧИТАТЬ" disabled="disabled"/></div>
					
					</form>
				</div>
			</li>
			
			<li id="loading">
				<h2>Мы подбираем предложения...</h2>
				<p class="note">Осталось <span>5</span> секунд</p>
			</li>
			
			<li id="results"></li>
			
		</ul>		
	</div>

</div>