<div id="companies-list">
					
					<form action="/companies-act-Filter/" method="post" onsubmit="compListFilter(); return false;">
					<div class="filter-top">
						<strong class="count"><%TOTAL%></strong>						
						<div class="status">
							Статус лицензии
							<input type="checkbox" name="status-active" id="cb-status-active" class="filter" data-filter-field="cl.Status" data-filter-value="active"/> <label for="cb-status-active">действует</label>
							<input type="checkbox" name="status-suspended" id="cb-status-suspended" class="filter" data-filter-field="cl.Status" data-filter-value="suspended"/> <label for="cb-status-suspended">приостановлена</label>
							<input type="checkbox" name="status-revoked" id="cb-status-revoked" class="filter" data-filter-field="cl.Status" data-filter-value="revoked"/> <label for="cb-status-revoked">отозвана</label>
						</div>
						<select name="sort" class="sort" priority="1">
							<option disabled selected>Сортировать</option>
							<option data-sort-field="c.Title">Наименование</option>
							<option data-sort-field="c.PremiumSum" data-sort-direction="DESC">Объем премий</option>
							<option data-sort-field="c.PaymentsSum" data-sort-direction="DESC">Объем выплат</option>
						</select>
						<div class="clear-r"></div>
					</div>
					
					<div class="search"><input type="text" name="keyword" value="" maxlength="255" placeholder="Поиск по названию или номеру лицензии"/></div>
					</form>
					
					<ul>
						<%CONTENT%>
					</ul>
					
					<%MORE%>
					
					<%PAGINATION%>
				</div>