<li class="<%STATUSCLASS%>">
							<a href="<%HREF%>" class="logo col"><img src="<%LOGO%>" alt="<%ALT%>" title="<%ALT%>"/></a>
							<div class="info col">
								<h3><a href="<%HREF%>"><%TITLE%></a></h3>								
								<span class="license"><%LICENSE%></span>
								<span class="status"><%STATUS%></span>
							</div>
							<div class="premiums col">Объем премий<span><%PREMIUMSUM%>&nbsp;Р</span></div>
							<div class="payments col">Объем выплат<span><%PAYMENTSSUM%>&nbsp;Р</span></div>
						</li>
						