<%META_VERIFICATION%>
<link type="text/css" rel="stylesheet" href="/tools/main.css?8"/>
<script type="text/javascript" src="/tools/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/tools/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/tools/jquery.switchbutton.js"></script>
	<script type="text/javascript" src="/tools/jquery.inputmask.js"></script>
	<script type="text/javascript" src="/tools/jquery.deserialize.js"></script>
	<script type="text/javascript" src="/tools/jquery.cookie.js"></script>
	<script type="text/javascript" src="/tools/bootstrap.js?8"></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
	<script type="text/javascript">
	  VK.init({apiId: <%VKAPPID%>, onlyWidgets: true});
	</script>
	<%ANALYTICS%>