<div id="popup-profile-settings" class="content">
			<h2>Настройки аккаунта</h2>
			
			<div class="tabs">
				<ul>
					<li><a href="#settings-data">Личные данные</a></li>
					<li><a href="#settings-password">Пароль</a></li>
					<li><a href="#settings-subscriptions">Подписки</a></li>
					<li><a href="#settings-notifications">Уведомления</a></li>
				</ul>
				
				<div class="forms">
					<!-- PERSONAL DATA -->
					<div id="settings-data">
						<form action="/user-act-Update/" method="post" onsubmit="userDataSendForm(this);return false;">
						<div class="form fst">
							<div class="fld">
								<div class="label">Имя</div>
								<input type="text" name="name" value="<%NAME%>" maxlength="255"/>
							</div>
							
							<div class="fld">
								<div class="label">Фамилия</div>
								<input type="text" name="surname" value="<%SURNAME%>" maxlength="255"/>
							</div>
							
							<div class="fld">
								<div class="label">Отчество</div>
								<input type="text" name="patronymic" value="<%PATRONYMIC%>" maxlength="255"/>
							</div>
							
							<div class="fld">
								<div class="label">Телефон</div>
								<input type="tel" name="phone" value="<%PHONE%>" maxlength="255"/>
							</div>
							
							<!--
							<div class="label">Дата рождения</div>
							<div class="db-line">
								<span class="inp-select"><input type="hidden" name="db_day" value="<%DAY_VALUE%>"/><input type="text" readonly="1" value="<%DAY_TITLE%>" maxlength="255"/><span class="r"></span><span class="dropdown"><div class="inner"><%DAYS%></div><span class="arr"></span></span></span>
								<span class="inp-select"><input type="hidden" name="db_month" value="<%MONTH_VALUE%>"/><input type="text" readonly="1" value="<%MONTH_TITLE%>" maxlength="255"/><span class="r"></span><span class="dropdown"><div class="inner"><%MONTHS%></div><span class="arr"></span></span></span>
								<span class="inp-select"><input type="hidden" name="db_year" value="<%YEAR_VALUE%>"/><input type="text" readonly="1" value="<%YEAR_TITLE%>" maxlength="255"/><span class="r"></span><span class="dropdown"><div class="inner"><%YEARS%></div><span class="arr"></span></span></span>
							</div>
							-->
							
							<!--
							<div class="fld">
								<div class="label">Город</div>
								<input type="text" name="city" value="<%CITY%>" maxlength="255"/>
							</div>
							-->
							
							<div class="photo-holder" onclick="Popup('upload_photo',{width:666});">
								<img src="<%PHOTO%>" alt="<%ALT%>" title="<%ALT%>"/>
								<span class="dotted"><%PHOTOLABEL%></span>
							</div>
							
							<div class="btn-line halfed"><input type="submit" value="Сохранить" class="submit" name="submit_btn" onclick="$(this).closest('form').data('exit',false);"/><input type="submit" value="Сохранить и закрыть" class="submit" name="submit_exit_btn" onclick="$(this).closest('form').data('exit',true);"/></div>
						</div>
						</form>
					</div>
					
					<!-- PASSWORD -->
					<div id="settings-password" style="display: none;">
						<form action="/user-act-ChangePassword/" method="post" onsubmit="userPasswordSendForm(this);return false;">
						<div class="form">
							<div class="fld">
								<div class="label">Текущий пароль</div>
								<input type="password" name="current_password" value="" maxlength="255" onkeydown="userPasswordFixField(this);" onblur="userPasswordFixField(this);"/>
							</div>
							
							<div class="fld">
								<div class="label">Новый пароль</div>
								<input type="password" name="new_password" id="new_password" value="" maxlength="255"/>
							</div>
							
							<div class="fld">
								<div class="label">Еще раз новый пароль</div>
								<input type="password" name="new_password_repeat" id="new_password_repeat" value="" maxlength="255"/>
							</div>
							
							<div class="btn-line halfed"><input type="submit" value="Сохранить" class="submit" name="submit_btn" onclick="$(this).closest('form').data('exit',false);"/><input type="submit" value="Сохранить и закрыть" class="submit" name="submit_exit_btn" onclick="$(this).closest('form').data('exit',true);"/></div>
						</div>
						</form>
					</div>
					
					<!-- MAIL SUBSCRIPTIONS -->
					<div id="settings-subscriptions" style="display: none;">
						<form action="/user-act-SetSubscriptions/" method="post" onsubmit="userSubscriptionsSendForm(this);return false;">
						<div class="form">
							<div class="fld">
								<input type="checkbox" name="news" id="subscriptions-news"<%SUBSCRIPTIONSNEWS%>/><label for="subscriptions-news">Новости</label>
							</div>
							
							<div class="fld">
								<input type="checkbox" name="statues" id="subscriptions-statues"<%SUBSCRIPTIONSSTATUES%>/><label for="subscriptions-statues">Статьи</label>
							</div>
							
							<div class="fld">
								<input type="checkbox" name="interviews" id="subscriptions-interviews"<%SUBSCRIPTIONSINTERVIEWS%>/><label for="subscriptions-interviews">Интервью</label>
							</div>
							
							<div class="fld">
								<input type="checkbox" name="advices" id="subscriptions-advices"<%SUBSCRIPTIONSADVICES%>/><label for="subscriptions-advices">Советы</label>
							</div>
							
							<div class="fld">
								<input type="checkbox" name="comments" id="subscriptions-comments"<%SUBSCRIPTIONSCOMMENTS%>/><label for="subscriptions-comments">Комментарии</label>
							</div>
							
							<div class="btn-line halfed"><input type="submit" value="Сохранить" class="submit" name="submit_btn" onclick="$(this).closest('form').data('exit',false);"/><input type="submit" value="Сохранить и закрыть" class="submit" name="submit_exit_btn" onclick="$(this).closest('form').data('exit',true);"/></div>
						</div>
						</form>
					</div>
					
					<!-- MAIL NOTIFICATIONS -->
					<div id="settings-notifications" style="display: none;">
						<form action="/user-act-SetNotifications/" method="post" onsubmit="userNotificationsSendForm(this);return false;">
						<div class="form">
							<div class="fld">
								<input type="checkbox" name="by_email" id="notifications-email"<%NOTIFICATIONSBYEMAIL%>/><label for="notifications-email">По e-mail</label>
							</div>
							
							<div class="fld">
								<input type="checkbox" name="by_phone" id="notifications-phone"<%NOTIFICATIONSBYPHONE%>/><label for="notifications-phone">По телефону</label>
								<input type="tel" name="phone" value="<%PHONE%>" maxlength="255"/>
							</div>
							
							<div class="btn-line halfed"><input type="submit" value="Сохранить" class="submit" name="submit_btn" onclick="$(this).closest('form').data('exit',false);"/><input type="submit" value="Сохранить и закрыть" class="submit" name="submit_exit_btn" onclick="$(this).closest('form').data('exit',true);"/></div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>