<div class="content" id="popup-recovery">
			<h2>Восстановление пароля</h2>
			
			<p>Введите e-mail, указанный при регистрации. На него мы вышлем инструкции по восставнолению пароля.</p>
			
			<form action="/user-act-RecoverPassword/" method="post" onsubmit="fSendForm(this);return false;">
			<div class="form">
				<input type="email" name="email" value="" maxlength="255" placeholder="E-mail"/>
				<div class="btn-line"><input type="submit" value="Отправить" class="submit" name="submit_btn"/></div>
			</div>
			</form>
		</div>