<div class="wrap">
	<button class="main-action-button" id="add-response">Оставить отзыв</button>
</div>

<div id="reviews-list">
					
					<form>
					<div class="filter-top">
						<strong class="count"><%TOTAL%></strong>
						<!--
						<select name="sort">
							<option disabled selected>Сортировать</option>
							<option value="1">Объем премий</option>
							<option value="2">Объем выплат</option>
						</select>
						-->						
						<select name="company_id" class="filter" data-filter-field="cr.CompanyId">
							<option disabled selected value="0">Выбрать компанию</option>
							<%COMPANIES%>
						</select>
						<div class="clear-r"></div>
					</div>
					</form>
					
					<ul>
						<%CONTENT%>
					</ul>
					
					<%MORE%>
					
					<%PAGINATION%>
				</div>
				
				<dialog id="rate-popup" class="full">
					<div class="step1">
						<div class="header">Оставить отзыв</div>
						<select name="company_id" id="rate-company">
							<option disabled selected value="0">Выберите компанию</option>
							<%COMPANIES%>
						</select>
						<textarea name="text" id="rate-review" placeholder="Напишите отзыв"></textarea>
						<div class="btn-line halfed"><button class="cancel">Отмена</button><button>Далее</button></div>
					</div>
					<div class="step2">
						<div class="header">Дайте оценку компании</div>
						<ul>
							<li class="service"><span class="label">Обслуживание</span><span class="score"></span></li>
							<li class="product"><span class="label">Продукт</span><span class="score"></span></li>
							<li class="total"><span class="label">Общая оценка</span><span class="score"></span></li>
						</ul>
						<div class="btn-line halfed"><button class="cancel">Отмена</button><button>Готово</button></div>
					</div>
					<div class="close"><img src="/images/ico_close.png" alt="Закрыть" title="Закрыть"/></div>
				</dialog>