<div id="new">
						<%IMAGE%>					
						<h1><%TITLE%></h1>
						
						<div class="date"><%DATE%></div>
						
						<div class="text">
							<%TEXT%>
						</div>
					</div>
					
					<ul id="social-shares" class="shares" data-share-title="<%SHARETITLE%>" data-share-url="<%SHAREURL%>" data-share-image="<%SHAREIMAGE%>" data-share-description="<%SHARETEXT%>">
						<li><a href="#" target="_blank" rel="nofollow" data-api-url="https://vk.com/share.php?url=%url%&title=%title%&image=%image%&description=%description%"><img src="images/ico_share_vk.png" alt="ВКонтакте" title="ВКонтакте"/></a></li>
						<li><a href="#" target="_blank" rel="nofollow" data-api-url="https://www.facebook.com/sharer.php?p[url]=%url%&p[title]=%title%&p[summary]=%decsription%&p[images][0]=%image%"><img src="images/ico_share_fb.png" alt="Фейсбук" title="Фейсбук"/></a></li>
						<li><a href="#" target="_blank" rel="nofollow" data-api-url="https://twitter.com/share?url=%url%&text=%description%"><img src="images/ico_share_twt.png" alt="Твиттер" title="Твиттер"/></a></li>
					</ul>
					
					<div class="tools">
						<%ADDCOMMENT%>
						<%ADDBOOKMARK%>
					</div>
					
					<%BL_COMMENTS%>