<li>
									<div class="section sum">
										<div class="label">Сумма</div>
										<div class="value sum"><%SUM%>&nbsp;Р</div>
									</div>
									
									<div class="section">
										<div class="label">Способ</div>
										<div class="value"><%METHOD%></div>
									</div>
									
									<div class="section date">
										<div class="label">Дата </div>
										<div class="value date"><%DATETIME%></div>
									</div>
									
									<div class="section">
										<div class="label">Страховая компания</div>
										<a href="<%LINK%>" class="value"><%COMPANY%></a>
									</div>
									
									<div class="section">
										<div class="label">Страховая услуга</div>
										<div class="value"><%PRODUCT%></div>
									</div>
									
									<div class="section btn">
										<button>Повторить</button>
									</div>
								</li>
								