<div id="content-activity"<%DISPLAY%>>
	<form action="<%ACTION%>" method="post" onsubmit="uactListFilter(); return false;">
					<div class="filter-top">
						<ul class="activity-type">
							<li class="active"><input type="radio" class="filter" name="activity_type" value="0" id="activity-type-all" data-filter-field="module" data-filter-value="0"/><label for="activity-type-all">Все</label></li>
							<li><input type="radio" class="filter" name="activity_type" value="1" id="activity-type-reviews" data-filter-field="module" data-filter-value="reviews"/><label for="activity-type-reviews">Отзывы</label></li>
							<li><input type="radio" class="filter" name="activity_type" value="2" id="activity-type-comments" data-filter-field="module" data-filter-value="comments"/><label for="activity-type-comments">Комментарии</label></li>
						</ul>
					</div>
					</form>
						
							<div id="my-activity-list">
								<%CONTENT%>
							</div>
</div>