				<!--<div id="profile">
					<div class="settings"><a href="#" onclick="Popup('settings',{width:512});">Настройки</a></div>
					
					<div class="image">
						<img src="<%PHOTO%>" alt="<%ALT%>" title="<%ALT%>" id="profile-photo"/>
						<span id="upload-photo" onclick="Popup('upload_photo',{width:512});"><img src="images/ico_plus.png" alt="<%PHOTO_LABEL%>" title="<%PHOTO_LABEL%>" class="ico"/><span class="dotted"><%PHOTO_LABEL%></span></span>
					</div>
					<div class="info">
						<%INFORMATION%>
						
						<%BUTTON_INFO%>
						<%SHOW_HIDE%>
						
					</div>
					<div class="clear-l"></div>
				</div>	
				-->
				
				<div id="profile">
				
					<div class="wnd heading">
						<div class="data">
							<img src="<%PHOTO%>" alt="<%ALT%>" title="<%ALT%>" id="profile-photo"/>
							<h2><%NAME%></h2>
						</div>
						<div class="mn">
							<ul>
								<li>Активность</li>
								<li>Закладки</li>
								<li>Страхования</li>
								<li>Платежи</li>
							</ul>
						</div>
						<div class="settings"><a href="#" onclick="Popup('settings',{width:512});">Настройки</a></div>
					</div>
				
				</div>
					