<li class="company <%STATUSCLASS%>">
									<div class="material"><%MATERIALLABEL%> <span class="remove-bookmark">Удалить закладку</span></div>
									
									<a href="<%LINK%>" class="logo"><img src="<%LOGO%>" alt="<%ALT%>" title="<%ALT%>"/></a>
									<div class="info">
										<h3><a href="<%LINK%>"><%TITLE%></a></h3>
										<span class="license"><%LICENSE%></span>
										<span class="status"><%STATUS%></span>
										
										<ul class="scores">
											<li><span class="label">Обслуживание</span><span class="score" data-score="<%SCORESERVICE%>"></span></li>
											<li><span class="label">Продукт</span><span class="score" data-score="<%SCOREPRODUCT%>"></span></li>
										</ul>
									</div>
									<div class="total">Общая оценка<span><%SCORESUM%></span><br /><%BUTTON%></div>
								</li>
								