<li>
									<div class="section company">
										<div class="label">Компания</div>
										<a class="value" href="<%LINK%>"><%COMPANY%></a>
									</div>
									
									<div class="section product">
										<div class="label">Страховая услуга</div>
										<div class="value"><%PRODUCT%></div>
									</div>
									
									<div class="section">
										<div class="label">Начало страхования</div>
										<div class="value date"><%INSURANCESTART%></div>
									</div>
									
									<div class="section">
										<div class="label">Конец страхования</div>
										<div class="value date"><%INSURANCEEND%></div>
									</div>
									
									<div class="section btn">
										<button>Продлить</button>
									</div>
								</li>
								