<div id="content-bookmarks"<%DISPLAY%>>
	<form action="<%ACTION%>" method="post" onsubmit="ubmListFilter(); return false;">
					<div class="filter-top">
						<ul class="bm-type">
							<li class="active"><input type="radio" class="filter" name="bm_type" value="0" id="bm-type-all" data-filter-field="module" data-filter-value="0"/><label for="bm-type-all">Все</label></li>
							<li><input type="radio" class="filter" name="bm_type" value="1" id="bm-type-companies" data-filter-field="module" data-filter-value="companies"/><label for="bm-type-companies">Страховые компании</label></li>
							<li><input type="radio" class="filter" name="bm_type" value="2" id="bm-type-news" data-filter-field="module" data-filter-value="news"/><label for="bm-type-news">Новости</label></li>
							<li><input type="radio" class="filter" name="bm_type" value="3" id="bm-type-statues" data-filter-field="module" data-filter-value="statues"/><label for="bm-type-statues">Статьи</label></li>
							<li><input type="radio" class="filter" name="bm_type" value="4" id="bm-type-interviews" data-filter-field="module" data-filter-value="interviews"/><label for="bm-type-interviews">Интервью</label></li>
							<li><input type="radio" class="filter" name="bm_type" value="5" id="bm-type-advices" data-filter-field="module" data-filter-value="advices"/><label for="bm-type-advices">Советы</label></li>
						</ul>
					</div>
					</form>
						
							<ul id="my-bookmarks-list">
								<%CONTENT%>
							</ul>
				
						
						<dialog id="rate-popup">
					<div class="step1">
						<div class="header">Напишите отзыв</div>
						<textarea name="text" id="rate-review" placeholder="Напишите отзыв"></textarea>
						<div class="btn-line halfed"><button class="cancel">Отмена</button><button>Далее</button></div>
					</div>
					<div class="step2">
						<div class="header">Дайте оценку</div>
						<ul>
							<li class="service"><span class="label">Обслуживание</span><span class="score"></span></li>
							<li class="product"><span class="label">Продукт</span><span class="score"></span></li>
							<li class="total"><span class="label">Общая оценка</span><span class="score"></span></li>
						</ul>
						<div class="btn-line halfed"><button class="cancel">Отмена</button><button>Готово</button></div>
					</div>
				</dialog>
</div>